<div class="row">
  <div class="col-xs-3">
    <h3>Filter Jobs</h3>
    <hr/ >
    <form class="filter">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Keyword">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="dispToggle" type="checkbox" value="">
            Category
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Category
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Category
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Category default
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Category
          </label>
        </div>
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-xs-9">
    <div class="map-wrap">
      <div id="map"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<script>
  $( document ).ready(function () {
    // markers
    startMarkers = <%=raw @hash.to_json %>;
    buildMap(startMarkers);

    // wait for change
    $('#dispToggle').on('change', function(){
      console.log("DispToggle Ticked");
      // get new markers
      var differentMarkers = [{
        "lat":"43.655987",
        "lng":"-79.379443",
        "infowindow":"\u003ca href=\"http://google.com/\"\u003eDMZ Job\u003c/a\u003e\u003cbr /\u003eDont Order Now"
      }, {
        "lat":"43.6642168",
        "lng":"-79.3815091",
        "infowindow":"\u003ca href=\"http://google.com/\"\u003eAwesome Job\u003c/a\u003e\u003cbr /\u003eDont Order Now"
      }]
      // build a new map
      buildMap(differentMarkers);
    });
  });

  // build map
  function buildMap (startMarkers) {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(startMarkers);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(<%= @here.lat %>, <%= @here.lng %>));
      handler.getMap().setZoom(6);
    });
  }
</script>
